.main-style {
    width: 90%;
    padding-left: 5%;
    padding-top: 5%;
}

.form-align-style {
    padding-right: 4%;
    padding-left: 4%;
}

.title-style {
    padding-top: 1%;
    text-align: center;
}
