<section class="main-style" *ngIf="user">
    <mat-card class="form-align-style">
        <mat-card-title class="title-style">Welcome {{user.firstName + user.lastName}}</mat-card-title>
        <mat-card-title class="title-style">Your Details</mat-card-title>
        <div *ngIf="userDetails">
            <mat-card-content>Email: {{userDetails.email}}</mat-card-content>
            <mat-card-content>Contact: {{userDetails.contact}}</mat-card-content>
            <mat-card-content>Country: {{userDetails.country}}</mat-card-content>
            <mat-card-content>State: {{userDetails.state}}</mat-card-content>
            <mat-card-content>Technology: {{userDetails.technology}}</mat-card-content>
        </div>
        <div *ngIf="!userDetails">
            <mat-card-content>Add Details to view your details here</mat-card-content>
        </div>
    </mat-card>
</section>
