<div *ngIf="!authService.loggedIn()">
    <div class="main">
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Profile<span>Management</span></h3>
                <p class="footer-links">
                    <a>Home</a>
                    ·
                    <a>Blog</a>
                    ·
                    <a>Pricing</a>
                    ·
                    <a>About</a>
                    ·
                    <a>FAQ's</a>
                    ·
                    <a>Contact</a>
                </p>
                <p class="footer-company-name">Company &copy; 2020</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>XYZ Street</span> Delhi, India</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 987 654 3210</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">mail@enquiries.com</a></p>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the Website</span>
                    This website is a profile management platform where user can login, register, view and edit their
                    information.
                </p>

                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <!-- Other Footer -->
            <div class="footer">
                <div class="contain">
                    <div class="col">
                        <h1>Company</h1>
                        <ul>
                            <li>About</li>
                            <li>Mission</li>
                            <li>Services</li>
                            <li>Social</li>
                            <li>Get in touch</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Products</h1>
                        <ul>
                            <li>About</li>
                            <li>Mission</li>
                            <li>Services</li>
                            <li>Social</li>
                            <li>Get in touch</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Accounts</h1>
                        <ul>
                            <li>About</li>
                            <li>Mission</li>
                            <li>Services</li>
                            <li>Social</li>
                            <li>Get in touch</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Resources</h1>
                        <ul>
                            <li>Webmail</li>
                            <li>Redeem code</li>
                            <li>WHOIS lookup</li>
                            <li>Site map</li>
                            <li>Web templates</li>
                            <li>Email templates</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h1>Support</h1>
                        <ul>
                            <li>Contact us</li>
                            <li>Web chat</li>
                            <li>Open ticket</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
    </div>
</div>
