.main-style {
    padding-top: 5%;
    padding-bottom: 5%;
    align-content: center;
    background-color: rgb(166, 241, 166);
    height: 100%;
}

.form-align-style {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(194, 241, 241);
}

.title-style {
    padding-top: 1%;
    text-align: center;
}

.form-text-style {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.button-style {
    background-color: rgb(66,133,244);
    color: white;
    width: 25%;
    align-self: center;
    border-radius: 30px;
}

.split-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.split-width {
    width: 48%;
}

.line-padding {
    padding-top: 2%;
}

.line-style {
    border: 0.5px solid grey;
    width: 45%;
}

.a-align {
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
}

@media (max-width: 720px) {
    .button-style {
        width: fit-content;
    }
}

@media (max-width: 600px) {
    .split-width {
      width: 100%;
    }

    .form-align-style {
        width: 80%;
    }
}
