<ul>
    <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/login']">Login</a>
    </li>

    <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/register']">Register</a>
    </li>

    <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/profile']">Profile</a>
    </li>

    <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/edit']">Edit Profile</a>
    </li>

    <li *ngIf="authService.loggedIn()" style="float: right;">
        <a (click)="onLogoutClick()" href="#">Logout</a>
    </li>
</ul>
